<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Exrin" version="1.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Exrin.Navigation.XamarinForms" version="1.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wpa81" />
</packages>